<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="View/public/css/style.css" type="text/css"/>
  <script src="View/public/js/header.js"  type="application/javascript"></script>
    <title>Add Type Object</title>
</head>
<body>
  <h1 id="title2">Add Type Object</h1>
<form action="AdminAddTypeObject" method="post" id="formAdmin">
  <label for="nameTypeObject">Name Type Object</label>
  <input type="text" name="nameTypeObject" id="nameTypeObject" />
  <input type="submit" id="submit" />
</form>

</body>
</html>