<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Apartments -  JS</title>
    <link rel="stylesheet" href="View/public/css/style.css" type="text/css"/>
    <script src="View/public/js/header.js"  type="application/javascript"></script>
    <meta charset="UTF-8">
    <meta name="description" content="Find the best house/apartment/cottage for living or going for a weekend, enjoy infinite opportunities">
    
    <meta name="keywords" content="Beograd, Novi Sad,Flat, Cottage , Nekretnine">
    
   <!-- <script  src="View/public/js/cityList.js"  type="application/javascript"></script>
--><script src="View/public/js/addApartment.js" type="application/javascript"></script>
    <script src="View/public/js/getAllApartmentsJS.js" type="application/javascript"></script>
    <script src="View/public/js/loadLastClicked.js" type="application/javascript"></script>
    <script src="https://kit.fontawesome.com/104d21a00f.js"  type="application/javascript" crossorigin="anonymous"></script>
    <script src="View/public/js/error.js" type="application/javascript"></script>


</head>
<body>
<h1 id="title">All Apartments</h1>
<div id="allApartments">

    <div id="filter">
        <form id="filters">
            <label for="search">Search</label>
            <input type="text" id="search" name="search" placeholder="Seach list of apartments"/>

            <label for="tipObjekta">Type of Real Estate</label>
          <!--  <select name="tipObjekta" id="tipObjekta" required="required">
                <option value="0"  >All</option>
           </select>

        -->
        <div id="checkbx">
            <input type="checkbox" name="tipObjekta" id="tipObjekta" value="1"/>
            <label for="tipObjekta">Flat</label>
        </div>
        <div id="checkbx">
            <input type="checkbox" name="tipObjekta" id="tipObjekta" value="2"/>
            <label for="tipObjekta">Cottage</label>
        </div>
        <div id="checkbx">
            <input type="checkbox" name="tipObjekta" id="tipObjekta" value="3"/>
            <label for="tipObjekta">House</label>
        </div>
        <label for="select">Select city</label>
            <input type="text" name="cityconsole" list="city" id="cityconsole" placeholder="Select city">
            <datalist name="city" id="city" required="required">

            </datalist>
            <div id="selectedCities">

            </div>
            <label for="orderby">
                Order by
            </label>
            <select name="orderby" id="orderby">
                <option value="0">Default</option>
                <option value="1">Price ASC</option>
                <option value="2">Price Desc</option>
                <option value="3">Date Posted Earliest</option>
                <option value="4">Date Posted Latest</option>
            </select>
            <input type="hidden" name="hidden" id="hidden" value="">
        </form>

    </div>
    <div id="apartments">

    </div>
</div>
<div id="pagination"></div>

</body>
</html>