<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="View/public/css/style.css" type="text/css"/>
    <script src="View/public/js/error.js" type="application/javascript"></script>
    <meta charset="UTF-8">
    <meta name="description" content="login to find the best house/apartment/cottage for living or going for a weekend, enjoy infinite opportunities">
    
    <meta name="keywords" content="Beograd, Novi Sad,Flat, Cottage , Nekretnine">
    
    <style>
        body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
    </style>
    <script src="View/public/js/header.js"  type="application/javascript"></script>
    <title>Login</title>
</head>
<body>
    <form action="">
        <h1>Login</h1>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"/>
        <div id="holdButtons">
            <input type="button" value="Log in" class="border" id="login"/>
        </div>
    </form>
    <script  src="View/public/js/regex.js"  type="application/javascript"></script>
    <script src="View/public/js/login.js"  type="application/javascript"></script>
</body>
</html>